<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shit.code.cloud.infrastructure.security.dao.mapper.PermissionMapper">

    <insert id="insertOne" parameterType="permissionEntity" useGeneratedKeys="true" keyProperty="permissionId"
            keyColumn="permission_id">
        insert into security_db.t_permission(permission_name, permission_desc)
        VALUES (#{permissionName,javaType=String}, #{permissionDesc,javaType=String})
    </insert>

    <update id="updateByPermissionId" parameterType="permissionEntity">
        update security_db.t_permission
        <trim prefix="set" suffixOverrides=",">
            <if test="permissionName!=null">permission_name = #{permissionName},</if>
            <if test="permissionDesc!=null">permission_desc = #{permissionDesc},</if>
            <if test="status!=null">status = #{status},</if>
        </trim>
        where permission_id = #{permissionId}
    </update>

    <select id="selectByPermissionId" parameterType="java.lang.Integer" resultType="permissionEntity">
        select permission_id,
               permission_name,
               permission_desc,
               version,
               status,
               create_by,
               create_time,
               update_by,
               update_time
        from security_db.t_permission
        where permission_id = #{permissionId}
    </select>
</mapper>