<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shit.code.cloud.infrastructure.security.dao.mapper.RoleMapper">

    <insert id="insertOne" parameterType="roleEntity" useGeneratedKeys="true" keyProperty="roleId"
            keyColumn="role_id">
        insert into security_db.t_role(role_name, role_desc)
        VALUES (#{roleName,javaType=String}, #{roleDesc,javaType=String})
    </insert>

    <update id="updateByRoleId" parameterType="roleEntity">
        update security_db.t_role
        <trim prefix="set" suffixOverrides=",">
            <if test="roleName!=null">role_name = #{roleName},</if>
            <if test="roleDesc!=null">role_desc = #{roleDesc},</if>
            <if test="status!=null">status = #{status},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <select id="selectByRoleId" parameterType="java.lang.Integer" resultType="roleEntity">
        select role_id,
               role_name,
               role_desc,
               version,
               status,
               create_by,
               create_time,
               update_by,
               update_time
        from security_db.t_role
        where role_id = #{roleId}
          and status <![CDATA[<>]]> 'DELETED'
    </select>
</mapper>